*
{
    padding-left: 1%;
    padding-right: 1%;
    font-family: "Segoe UI",system-ui, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h3
{
    font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
}

p
{
    /* increasing line-height to make it better to read */
    line-height: calc(1ex / 0.32);
}

form.memory-forget
{
    display: table;
}

div.memory-forget 
{
    display: table-row;
}

label, input 
{
    display: table-cell;
    margin-bottom: 10px;
}

label 
{
    padding-right: 10px;
}

/* Making font better to read - https://developer.mozilla.org/en-US/docs/Web/CSS/font-size-adjust */
@supports (font-size-adjust: 1)
{
    *
    {
        font-size-adjust: 0.5;
    }
}

/* Trying to setup dark mode and make sure colors look good on the right mode. Thanks to u/StuckOnCoboldLevel for this code. Find their original post at https://old.reddit.com/r/learnjavascript/comments/cdh5k9/attention_required/ettw952/. */
.light
{
    background-color: white;
    color: black;
}

.dark
{
    background-color: black;
    color: white;
}
.purple
{
    /* To remember Rebecca Meyer (see https://meyerweb.com/eric/thoughts/2014/06/19/rebeccapurple/ & https://www.economist.com/babbage/2014/06/23/the-colour-purple for details) */
    background-color: #663399;
    color:#94FFDF;
    
}

.light button
{
    background-color: royalblue;
}

.dark button
{
    background-color: silver;
}

.purple button
{
    background-color: #EDEDED;
}

.purple a
{
    background-color: #FFFF05;
}